.container{
    display: flex;
    width: clamp(100px, 50%, 500px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    text-align: center;
    justify-content: center;
    flex-direction: column;
    .foodTypeContainer{
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 2em;
    }
}